* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
}

header {
    background-color: rgba(99, 96, 95, 0.34);
    height: 3rem;
}


#menuA {
    display: flex;
    position: relative;
    font-family: verdana, arial;
    min-width: 200px;
    z-index: 4;
    
}
.caja2{
    width:2rem;
    height:2rem;
    float: right;
}
.showhim {
    background-color:transparent;
    float: left;
}


.showme {
    /* Capa emergente */
    position: absolute;
    margin: -1rem 0rem 0rem 1rem;
    padding: 0.5rem 1.5rem 0.5rem 0.3rem;
    width: 12rem;
    display: none;
    text-align: left;
    line-height: 2.5rem;
    border-radius: 5px;
    list-style-type: none;
}
.showmes{
    margin: 0rem 0rem 0rem 0rem;
    margin-left:7rem;
    position: absolute;
    display: none;
    text-align: center;
    line-height: 2rem;
    border-radius: 5px;
    list-style-type: none;
}
.showmes li{
    background-color: rgba(168, 157, 157, 0.6);
    padding:4px;
    margin: 3px 1.9rem 0rem 0rem;
    border-radius: 0px 9px 9px 20px;
    line-height: 2rem;
    border: 1px solid rgba(179, 79, 3, 0.34);
    font-size: 1rem;
}

.elivi {
    list-style-type: none;
    float: left;
    margin-top: 0.5rem;
    position:absolute;
    font-size:1rem;
    font-family: fantasy;
}


.fac {
    display: inline;
    padding: 0rem 0.7rem 0rem 0.7rem;
    line-height: 1.8rem;
}


nav a {
    padding: 2px 5px 5px 5px;
    text-decoration: none;
    /* color: #000000; */
    color:rgba(24, 0, 0, 0.6);
    /* No visitado */
    background: transparent;
}

nav a.visited {
    text-decoration: none;
    color: #696969;
}

nav a.active {
    text-decoration: none;
    color: white;
    opacity: .5;
    /* Ultimo visitado */
}

nav a:hover {
    text-decoration: none;
    color: #FFFFFF;
}

.showhim:hover .showme {
    display: block;
}
.facfo:hover .showmes {
    display: block;
}
/* ---------------------------------------------------------- */
@media screen and (min-width: 1000px) {

    #menuA {
        display: none;
    }

}

@media screen and (max-width: 1000px) {

    #menuA {
        display: none;
    }

}

@media screen and (max-width: 750px) {

    .elivi {
        display: none;
    }

    #menuA {
        display: block;
    }

}

@media screen and (max-width: 550px) {

    #menuA {
        display: block;
    }

}