* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

*p {
    text-align: center;
    font-family: sans-serif;
    color: black;
}

body {
    background-color: #edd2c7;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 780px) and (oriantation: landscape) {
    body {
        display: none;
    }
}

@media screen and (min-width: 100em) {
    .container {
        max-width: 100em;
    }
}


/* ARRANCA LA CABECERA */
.container {
    background-color: transparent;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
}

.cabecera {
    background: transparent;
    margin: 0 auto;
    display: inline-block;
    z-index: 1;
    padding: 0;
    margin-top: 3rem;
}


@media screen and (min-width: 100em) {
    .cabecera {
        max-width: 100em;
    }
}

.fondo {
    background-color: #edd2c7;
    background-image: url("img/parafondo.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}


.titulo .tit h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 2.5rem;
    color: #d9755b;
    animation-duration: 2s;
    font-size: 9rem;
    font-family: 'Amatic SC', cursive;
}

.titulo .titysub p {
    background-color: transparent;
    padding: 1px;
    font-style: normal;
    color: #b47235;
    font-size: 1.6rem;
    font-family: 'Amatic SC', cursive;
    animation-duration: 3s;
    --animate-delay: 0.9s;
}

.subtitulo {
    background-color: transparent;
    padding: 1rem;
    display: flex;
}

.subtitulo h4 {
    font-size: 1.5rem;
    color: rgb(110, 105, 105);
}
@media screen and (max-width:80em) {
    .fondo {
        background-image: url("img/fondoresponsive2.png");
    }
    .titulo .tit h1{
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: .5rem;
        color: #d9755b;
        animation-duration: 2s;
        font-size: 5rem;
        font-family: 'Amatic SC', cursive;
    }
    }


/* DESDE ACÁ COMIENZA EL MAIN */
/* DESDE ACÁ COMIENZAN LAS FOTOS Y ESO */
@media screen and (min-width: 50em) {
    .allimg {
        max-width: 50em;
    }
}


.titseca {
    font-size: 2em;
    text-align: center;
    justify-content: center;
}

.seca .titseca h2 {
    margin-top: 50px;
    font-family: fantasy;
    color: #b9a7a5;
    text-shadow: 2px 3px 4px black;
    font-size: 4rem;
    opacity: 0.7;
}

.seca .subseca {
    background: linear-gradient(to bottom, #edd2c7, white);
    padding: 1.5rem;
}

.seca .subseca p {
    font-size: 1.5rem;
    color: rgb(110, 105, 105);
    text-align: center;
}

@media screen and (min-width: 100em) {
    .main {
        max-width: 100em;
    }
}
main {
    padding: 9px;
    text-align: center;
    justify-content: center;
    position: center;
    column-count: 2;
    column-width: 400px;
    column-gap: 12px;
}

img {
    width: 100%;
    max-width: 100%;
    margin-bottom: 12px;
}