* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

*p {
    text-align: center;
    font-family: sans-serif;
    color: black;
}

body {
    background-color: rgb(251, 253, 94);
    /* height: 100vh; */
}

.header {
    background-color: red;
    /* display:flex; */
    /* justify-content:center; */
    /* align-items: stretch; */
}

.divmenu {
    background-color: tomato;
}

.nav0 {
    background: linear-gradient(to bottom, blue, white);
    width: 6.3rem;
    height: 6rem;
    display: inline-flexbox;
    float: left;
}

.nav0 img {
    width: 6rem;
    height: 6rem;
    margin-left: 3rem;
    margin-right: 3rem;
    background: linear-gradient(to bottom, blue, white);
    transition: all 300ms ease 0ms;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: last baseline;
}

.nav ul {
    list-style-type: none;
    font-size: 2rem;
    background-color: pink;
    display: flex;
    margin-left: 50px;
}

.nav ul li {
    flex: 1 0 auto;
    background-color: transparent;
    margin: 3px;
}

nav ul li a {
    color: red;
    text-decoration: none;
    margin: 1rem;
}

.nav0 img:hover {
    background: linear-gradient(to bottom, red, orange);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.nav ul a:hover {
    background-color: rgb(10, 7, 206);
}

a:visited,
a:link,
a:link {
    text-decoration: none;
}

/* ARRANCA LA CABECERA */
.onda {
    background-color: blue;
}

.cabecera {
    /* background: linear-gradient(to bottom, rgb(0, 0, 0), white); */
    background-color: rgb(235, 220, 236);
    margin: 0 auto;
}


@media screen and (min-width: 100em) {
    .cabecera {
        max-width: 100em;
    }
}

.titysub {
    background-color: transparent;
}

.titulo .tit h1 {
    width: auto;
    color: whitesmoke;
    text-decoration: underline white;
    animation-duration: 2s;
    margin-top: 8vw;
    font-size: 9rem;
    font-family: 'Amatic SC', cursive;
    text-shadow: 2px -3px 9px black;
    text-align: center;
    display: flex;
    justify-content: center;
}

.titulo .titysub p {
    background-color: transparent;
    padding: 4px;
    width: center;
    font-style: normal;
    box-align: center;
    color: red;
    font-size: 2.6rem;
    font-family: 'Amatic SC', cursive;
    animation-duration: 3s;
    --animate-delay: 0.9s;
}

.subtitulo {
    background-color: tomato;
    margin: 4rem;
    display: flex;
}

.subtitulo h4 {
    width: auto;
    padding: 6px;
    margin: 18px;
    font-size: 2rem;
}

/* DESDE ACÁ COMIENZA EL MAIN */


.seca .titseca h2 {
    /* font-size: 3rem; */
    text-align: center;
    font-family: fantasy;
    background: linear-gradient(rgb(240, 10, 10), rgb(78, 6, 6));
}

.seca .subseca {
    background-color: yellow;
    /* margin: 1rem; */
    padding: 2rem;
    font-size: 1.4rem;
}

/* DESDE ACÁ COMIENZAN LAS FOTOS Y ESO */

.allimg {
    /*el centrado van a ser todas las fotos*/
    margin: 0 auto;
    padding: 0 em;
    background-color: aqua;
    overflow-y: scroll;
}

@media screen and (min-width: 90em) {
    .allimg {
        max-width: 90em;
    }
}

.titseca {
    margin: 0 0 1em;
    padding: 1em 0;
    font-size: 2em;
    font-weight: 300;
    text-align: center;
    color: white;
}

.mazo {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow-x: scroll;
}

.tarjeta {
    background: transparent;
    margin-bottom: 2em;
    width: auto;
    margin: 3px;
}

.tarjeta .titimg {
    color: black;
    background-color: transparent;
    font-size: 1.5rem;
}

.tarjeta-content p {
    color: red;
    font-size: 95%;
    margin-top: 0;
    margin-bottom: .5em;
    font-weight: normal;
}

.contenedorimg {
    margin: auto;
    width: 17.6rem;
    height: 17.6rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

img {
    border: 2px solid grey;
    width: 17.6rem;
    height: 17.6rem;
    border-radius: 50%;

}

.imagen img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}